:root {
    --md-primary-fg-color: rgba(248, 200, 34, 0.7);
    --md-primary-fg-color--light: rgba(248, 200, 34, 0.7);
    --md-primary-fg-color--dark: rgba(248, 200, 34, 0.7);
    --md-accent-fg-color: rgba(248, 200, 34, 0.7);
    --md-typeset-a-color: rgba(248, 200, 34, 0.9);
}

[data-md-color-scheme="slate"] {
    --md-hue: 220;
    --md-default-bg-color: rgba(3, 3, 3, 0);
    --md-default-fg-color: rgba(255, 255, 255, 0.9);
    --md-default-fg-color--light: rgba(255, 255, 255, 0.7);
    --md-default-fg-color--lighter: rgba(255, 255, 255, 0.3);
    --md-default-fg-color--lightest: rgba(255, 255, 255, 0.12);
    --md-code-bg-color: rgba(18, 18, 18, 0.582);
    --md-code-fg-color: rgba(224, 224, 224, 0.9);
}

body {
    background: #000000;
}

.md-header {
    background-color: rgba(10, 10, 10, 0.7);
    color: rgba(255, 255, 255, 0.9);
}

.md-nav__item .md-nav__link--active {
    color: rgba(248, 200, 34, 0.9);
}

.md-nav__link:focus,
.md-nav__link:hover {
    color: rgba(248, 200, 34, 0.9);
}

.md-typeset a {
    color: rgba(248, 200, 34, 0.9);
}

.md-typeset a:hover {
    text-decoration: underline;
}

.md-button {
    background-color: rgba(248, 200, 34, 0.7);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 0.75rem;
}

.md-button:hover {
    background-color: rgba(248, 200, 34, 0.3);
    color: rgba(248, 200, 34, 0.9);
}

.md-main {
    background-color: transparent;
}

.md-content {
    background-color: transparent;
}

.md-sidebar {
    background-color: transparent;
}

.md-footer {
    background-color: #121212;
}

.md-footer-meta {
    background-color: #030303;
}

  .md-typeset h1,
  .md-content__button {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
 }

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
 }

 ::-webkit-scrollbar-thumb {
    background: rgba(248, 200, 34, 0.9);
 }


 ::-webkit-scrollbar-thumb:hover {
    background: rgba(192, 155, 22, 0.9);
 }
